@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

html {
    background-color: rgb(12, 4, 48);
    color: azure;
}

body {
    font-family: Poppins, sans-serif;
}

